{% if dance %}
    <h1>{{dance.name}}</h1>
    {% for movement in dance.movements.all %}
    <ul>
        <a href="{% url 'movement' movement.name %}">{{ movement.name }}</a></li>
    </ul>
    {% endfor %}
{% else %}
    <p>No hay bailes cargados.</p>
{% endif %}