{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'controller/styles.css' %}">

<h1>MinORTauro</h1>
<a href="{% url 'dance' %}"><button class="link-right">Nuevo baile</button></a>
<a href="{% url 'index' %}"><button class="link-left">Inicio</button></a>
{% if dances_list %}
    <div class="row">
    {% for dance in dances_list %}
    <div class="col-md-3 col-xs-6">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name={{dance.name}} >{{ dance.name }}</button>
        </form>
        <ul>
        {% for movement in dance.movements.all %}
            <p>{{movement.name}}</p>
        {% endfor %}    
        </ul>
    </div>
    {% endfor %}
    </div>
{% else %}
    <div class="center"><h2>No hay bailes cargados.</h2></div>
{% endif %}