{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'controller/styles.css' %}">

<a href="{% url 'dances' %}"><button class="link-right">Bailes</button></a>
<h1>MinORTauro</h1>
<div class="row">
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="forward">Adelante</button>
</form>
</div>
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="back">Atras</button>
</form>
</div>
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="left">Izquierda</button>
</form>
</div>
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="right">Derecha</button>
</form>
</div>
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="stop">Parar</button>
</form>
</div>
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="attack">Atacar</button>
</form>
</div>
<div class="col-md-3 col-xs-6">
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="rest">Descansar</button>
</form>
</div>
</div>