{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'controller/styles.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function addMovement(id)
    {
        var csrftoken = getCookie('csrftoken');
        var name = document.getElementById("name").value;
        url = "{% url 'dance' %}";
        if(name != ""){
            $.ajax({
                headers:{"X-CSRFToken": csrftoken},
                url: url,
                type: "POST",
                data: {'movementName':id, "danceName":name},
                success: function(response) {
                    {{dance_name}} = data["dance_name"];
                },
            });
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<a href="{% url 'index' %}"><button class="link-left">Inicio</button></a>
{% if dance %}
    <form method="POST"> 
        {% csrf_token %}
        <div class="center">Name:<input type="text" id="name" name="name" value={{dance.name}} /></div>
        <div class="dance-movements">
            {% for movement in dance.movements.all %}
                <p>{{movement.name}}</p>
            {% endfor %}
        </div>
        <div class="movements">
            {% for movement in movements_list %}
                <p><button class="add" type="submit" name='{{movement.name}}' value='{{movement.name}}'>{{movement.name}}</button></p>
            {% endfor %} 
        </div>
    </form>
{% else %}
    <form method="POST"> 
    {% csrf_token %}
        <div class="center">Name:<input type="text" name="name"/></div>
        <div class="dance-movements">
        </div>
        <div class="movements">
            {% for movement in movements_list %}
                <p><button class="add" type="submit" name='{{movement.name}}' value='{{movement.name}}' >{{movement.name}}</button></p>
            {% endfor %} 
        </div>
    </form>
{% endif%}
 
