h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    margin-top: 10px;
}

div.commands{
    height: 600px;
    width: 600px;
    vertical-align: baseline;
    margin-left: 40%;
}

button {
    width: 250px;
    height: 150px;
    margin: auto;
    font-size: 40px;
}

div.dance-movements{
    float: left;
    margin-left: 10%;
    margin-top: 2%;
}

div.movements{
    float: right;
    margin-right: 30%;
}

button.add{
    width: 100px;
    height: 50px;
    margin: auto;
    font-size: 20px;
}

button.save{
    width: 100px;
    height: 50px;
    margin: auto;
    font-size: 20px;
}

div.center{
    margin-left: 20%;
}

button.link-right{
    width: 100px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    float: right;
}

button.link-left{
    width: 100px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    float: left;
}

.col-xs-6 {
    margin-left: 15% !important;
    width: 25% !important;
}    
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {

    
    div.commands{
        height: 600px;
        width: 200px;
        vertical-align: baseline;
        margin-left: 40%;
    }

    button {
        width: 100px;
        height: 100px;
    }

}


button.forward{
    margin-top: 0px;
    margin-left: 100px;
}
button.back{
    margin-top: 200px;
    margin-left: 100px;
}
button.left{
    margin-top: 100px;
}
button.right{
    margin-left: 100px;
    margin-top: 100px;
}
div.test{
    height: 100%;
    width: 100%;
    background-color: #dedede;
  }
  
  .space-top {
    padding-top: 10px;
  }
  
  #joystick {
    height: 300px;
    width: 300px;
    border-radius: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    text-align: center;
    background-color: #80d5ff;
    font: 24px/300px Helvetica, Arial, sans-serif;
    cursor: all-scroll;
    user-select: none;
    z-index: -100;
  }
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }